<template>
  <form class="form-horizontal main-form">
    <p><b>Запись на сервис</b></p>
    <common-fields @valid="comnFields=$event"></common-fields>
    <div class="form-group">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <soglasie-fields @pick="soglChecks=!soglChecks"></soglasie-fields>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div :class="sendBtn ? sendBtnClassActive : sendBtnClass" @click="sendRequest">Отправить заявку</div>
      </div>
    </div>
    <land-dialog v-if="loaderDialog" no-close="y">
      <h4 slot="header" class="text-center">Вылоняется запрос</h4>
      <p slot="body" class="text-center"><span class="loader"></span></p>
    </land-dialog>
    <land-dialog v-if="responseDialog" @close="responseDialog=false">
      <h3 slot="header">{{ responseTitle }}</h3>
      <p slot="body">{{ responseText }}</p>
    </land-dialog>
    <land-dialog v-if="soglasieDialog" no-close="y">
      <h3 slot="header">{{ soglasieTitle }}</h3>
      <p slot="body">{{ soglasieText }}</p>
    </land-dialog>
  </form>
</template>

<script>
import { HTTP } from '../http'
import LandDialog from './landDialog.vue'
import CommonFields from './commonFields.vue'
import SoglasieFields from './soglasieFields.vue'

export default {
  name: 'mainForm',
  props: {
    msg: String
  },
  components: {
    'land-dialog': LandDialog,
    'common-fields': CommonFields,
    'soglasie-fields': SoglasieFields
  },
  data () {
    return {
      comnFields: false,
      soglChecks: false,
      soglasieDialog: false,
      soglasieContext: '',
      soglasieTitle: '',
      soglasieText: '',
      sendBtnClass: 'btn__action btn__right',
      sendBtnClassActive: 'btn__action btn__right btn__active_main',
      loaderDialog: false,
      responseDialog: false,
      responseTitle: 'Запись на сервис',
      responseText: ''
    }
  },
  computed: {
    sendBtn () { return (this.comnFields && this.soglChecks) }
  },
  methods: {
    sendRequest () {
      if (this.sendBtn) {
        this.dialog = false
        this.loaderDialog = true
        this.$store.commit('setUserPersReady', false)
        this.$store.commit('setUserAdvtReady', false)
        let params = new URLSearchParams()
        params.append('landing', '1')
        params.append('center', '1')
        params.append('model', '')
        params.append('model_name', '')
        params.append('plan_date', this.$store.getters['getFormDate'])
        params.append('name', this.$store.getters['getFormName'])
        params.append('phone_1', this.$store.getters['getFormTel'])
        params.append('phone_1_type', '1')
        params.append('email', this.$store.getters['getFormEmail'])
        params.append('comment', '')
        params.append('type', 'service.body-repair')
        params.append('site', 'audi-centre')
        params.append('soglasieper', true)
        params.append('soglasieadv', true)
        HTTP.post('api/requests.php', params)
          .then(response => {
            if (response.data[0].szerrorcode === 'OK') {
              this.responseText = 'Запрос успешно отправлен!'
            } else {
              this.responseText = 'К сожалению что-то пошло не так. Попробуйте сделать запрос позже.'
            }
            this.loaderDialog = false
            this.responseDialog = true
          })
          .catch(error => {
            this.responseText = error
            this.loaderDialog = false
            this.responseDialog = true
          })
      }
    }
  }
}
</script>

<style scoped>

</style>
