<template>
  <div class="container-fluid container-menu">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <span class="list"></span>
            <a href="/sale/"> Новые Audi в наличии</a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <span class="list"></span>
            <a href="/used/"> Автомобили с пробегом</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
</template>
<script>
import { VIcon } from 'vuetify/lib'

export default {
  components: {
    VIcon
  }
}
</script>
<style scoped>
.container-menu {
  background-color: #e6e6e6;
  width: 100%;
}
.container-menu a {
  font-family: "Audi Extended Bold", Verdana, sans-serif;
  color: black;
}
.container-menu a:hover {
  color: #bb0a30;
  text-decoration: underline;
}
.list {
  display: inline-block;
  background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20height%3D%2232%22%20width%3D%2232%22%3E%3Cpath%20d%3D%22M2.8%207.4L11%2016l-8.2%208.6h7.9l8-8.6-8-8.6%22%20fill%3D%22%23cc0033%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M13.3%207.4l8.3%208.6-8.3%208.6h7.9l8-8.6-7.9-8.6%22%20fill%3D%22%23cc0033%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h32v32H0z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: left;
  background-color: transparent;
}

@media (max-width: 767px) {
  .container-menu .container {
    padding: 4vw 3vw 4vw;
  }
  .container-menu a {
    font-size: 4vw;
  }
  .list {
    height: 3.2vw;
    padding-left: 6vw;
    background-size: 5vw;
    background-position: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-menu .container {
    padding: 18px 15px 17px;
  }
  .container-menu a {
    font-size: 18px;
  }
  .list {
    height: 12px;
    padding-left: 28px;
    background-size: 22px;
    background-position: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container-menu .container {
    padding: 18px 15px 17px;
  }
  .container-menu a {
    font-size: 18px;
  }
  .list {
    height: 11px;
    padding-left: 28px;
    background-size: 21px;
    background-position: left;
  }
}
@media (min-width: 1200px) {
  .container-menu .container {
    padding: 18px 15px 17px;
  }
  .list {
    height: 15px;
    padding-left: 36px;
    background-size: 27px;
    background-position: left;
  }
}
</style>
