<template>
	<div class="row">
    <div v-if="more" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="space__3"></div>
    </div>
    <div v-if="more" class="col-lg-12 text-center">
      <span @click="$emit('increment')" class="showmore">Показать еще {{ increment }} из {{ balance }}</span>
    </div>
    <div v-if="more" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="space__2"></div>
    </div>
  </div>    
</template>

<script>
export default {
	data () {
    return {
      more: (this.count > 0)
    }
  },
  watch: {
    increment (val) {
      if (val < 1) {
        this.more = false
      }
    }
  },
  computed: {
    count () { return this.$store.getters['getItemsCount'] },
    show () { return this.$store.getters['getShowItemsCount'] },
    increment () {
      let i = this.$store.getters['getIncrement']
      if (i < this.count - this.show) {
        return i 
      } else {
        return this.count - this.show
      }
    },
    balance () {
      return this.count - this.show
    }
  }
}
</script>

<style scoped>
.showmore {
  cursor: pointer;
}
</style>
