<template>
  <v-app id="app">
    <div class="container">
      <div class="row">
        <div class="col-lg-7" id="main-text"></div>
        <div class="col-lg-5">
          <main-form></main-form>
        </div>
      </div>
    </div>
    <div class="space__2"></div>
    <main-menu></main-menu>
    <service-list></service-list>
    <yandex-map></yandex-map>
  </v-app>
</template>

<script>
import MainForm from './components/mainForm.vue'
import MainMenu from './components/mainMenu.vue'
import ServiceList from './components/serviceList.vue'
import YaMap from './components/yaMap.vue'

export default {
  name: 'app',
  mounted () {
    this.$nextTick(function () {
      var mainText = document.getElementsByClassName('page-text')
      if (mainText.length === 1) {
        document.getElementById('main-text').appendChild(mainText[0])
      }
      this.$store.dispatch('getModels')
      this.$store.dispatch('getItems')
      this.$store.dispatch('getLanding')
    })
  },
  components: {
    'main-form': MainForm,
    'main-menu': MainMenu,
    'service-list': ServiceList,
    'yandex-map': YaMap
  }
}
</script>

<style>
@font-face {
  font-family: 'Audi Normal';
  src: url("assets/fonts/AudiTypeNormal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Audi Bold';
  src: url("assets/fonts/AudiTypeBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Audi Extended Normal';
  src: url("assets/fonts/AudiType-ExtendedNormal.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Audi Extended Bold';
  src: url("assets/fonts/AudiType-ExtendedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
#app {
  font-family: "Audi Normal", Verdana, sans-serif;
  font-size: 20px;
  line-height: 26px;
  background: #fff;
}
.modal-body h3 {
  font-family: "Audi Extended Bold", Verdana, sans-serif;
  margin-top: 0;
  padding-top: 0;
}
.form-group {
  margin-bottom: 10px;
}
.btn__action {
  background: darkgrey;
  color: white;
  display: inline-block;
  font-size: 17px;
  padding: 9px 16px;
  margin-top: 8px;
  cursor: default;
}
.btn__active {
  background: #bb0a30;
  cursor: pointer;
}
.btn__active_main {
  background: #000;
  cursor: pointer;
}
.btn__right {
  float: right;
}
.space__1 {
  min-height: 20px;
}
.space__2 {
  min-height: 40px;
}
.space__3 {
  min-height: 80px;
}
.pointer {
  cursor: pointer;
}
.v-menu__content {
  z-index: 10001 !important;
}
@media (max-width: 767px) {
  .btn__action {
    width: 100%;
    font-size: 4.7vw;
    font-weight: bold;
    padding: 2vw 6vw;
    text-align: center;
  }
  .loader-box {
    line-height: 12vw;
    font-size: 5vw;
  }
  .modal-body h3 {
    font-size: 5vw;
    line-height: 6.5vw;
  }
  .modal-body p {
    margin-top: 0;
    padding-top: 0;
    font-size: 4vw;
    line-height: 5vw;
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .loader-box {
    line-height: 64px;
    font-size: 21px;
  }
  .modal-body h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .modal-body p {
    margin-top: 0;
    padding-top: 0;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .btn__action {
    padding: 7px 14px;
    margin-top: 6px;
    font-size: 14px;
    line-height: 14px;
  }
  .loader-box {
    line-height: 64px;
    font-size: 21px;
  }
  .modal-body h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .modal-body p {
    margin-top: 0;
    padding-top: 0;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1200px) {
  .btn__action {
    padding: 9px 16px;
    margin-top: 8px;
  }
  .loader-box {
    line-height: 64px;
    font-size: 21px;
  }
  .modal-body h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .modal-body p {
    margin-top: 0;
    padding-top: 0;
    font-size: 18px;
    line-height: 22px;
  }
}

.loader {
  display: inline-block;
  margin: auto 2em;
  vertical-align: middle;
  font-size: 10px;
  width: 30px;
  height: 30px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.3em solid rgba(34, 34, 34, 0.2);
  border-right: 0.3em solid rgba(34, 34, 34, 0.2);
  border-bottom: 0.3em solid rgba(34, 34, 34, 0.2);
  border-left: 0.3em solid #222222;
  border-radius: 50%;
  transform: translateZ(0);
  animation: show 0.2s, load8 0.7s infinite linear;
}
@keyframes load8 {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
</style>
